{% extends 'back_base.html.twig' %}
{% trans_default_domain 'back' %}

{% block body %}
    <div class="row">
    <div style="margin-top: 20px;" class="col-12">
    <div class="alert alert-primary" role="alert">
        La Gallerie de l'acceille contient deja 6 element !
    </div>
    </div>
    </div>
{% endblock %}