{% trans_default_domain 'FOSUserBundle' %}
<div class="col-sm-8">
    <div class="signup-form"><!--sign up form-->
        <div class="form-group row">
            <div class="col-sm-6">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>