{% extends "@User/layout.html.twig" %}

{% block fos_user_content %}
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
{% include "@User/ChangePassword/changePassword_content.html.twig" %}
        </div>
    </div>
</section>
{% endblock fos_user_content %}
