{% extends "base.html.twig" %}
{% block body %}


    <div class="push-top"></div>
    <section class="section-intro bg-img bg07 stellar" data-stellar-background-ratio="0.4">
        <div class="bg-overlay op6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <h1 class="intro-title intro-title-br0 shadow mb0">403 Forbidden</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="page-breadcrumbs-wrapper pb2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <div class="page-breadcrumbs">
                            <a href="#">home</a> <span class="separator"> / </span> <a href="#">pages</a> <span class="separator"> / </span> <a href="#" class="active">403</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="page-404 page-403">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <div class="content-404">
                        <div class="relative">
                            <div class="text-404"><i class="fa fa-lock"></i></div>
                            <h2 class="title-404 over-404">Access Denied</h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <p class="mt20">Sorry, but you do not have permissions to visit this page! If you think there is an error with this page please <a href="page_contact.html">contact us.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% include 'front/footers/footer.html.twig' %}
{% endblock %}