{% extends "base.html.twig" %}
{% block body %}
    {% include 'front/headers/header.html.twig' %}
    <div class="push-top"></div>
    <section class="section-intro bg-img bg11 stellar" data-stellar-background-ratio="0.4">
        <div class="bg-overlay op6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <h1 class="intro-title mb20">Pricing</h1>
                    <p class="intro-p mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur reiciendis molestias nostrum excepturi porro dolorum amet!</p>
                </div>
            </div>
        </div>
    </section>
    <div class="page-breadcrumbs-wrapper pb2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <div class="page-breadcrumbs">
                            <a href="#">home</a> <span class="separator"> / </span> <a href="#">pages</a> <span class="separator"> / </span> <a href="#" class="active">pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section mt30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="plans">
                        <div class="row col-p0">
                            <!-- plan -->
                            <div class="col-sm-4">
                                <div class="plan plan-professional">
                                    <div class="plan-header">
                                        <h3 class="plan-price">
                                            <span class="plan-curency">$</span>69<span class="plan-period">/ month</span>
                                        </h3>
                                        <h2 class="plan-title">Professional</h2>
                                    </div>
                                    <div class="clearfix">
                                        <ul class="plan-features">
                                            <li>Predefined Responses</li>
                                            <li>Custom Business Rules</li>
                                            <li>Screencasting</li>
                                            <li>Business Hours</li>
                                            <li>Multiple Ticket forms</li>
                                            <li class="plan-feature-off">Business rules analysis</li>
                                            <li class="plan-feature-off">Automated Ticket Sharing</li>
                                        </ul>
                                    </div>
                                    <div class="plan-register"><a href="#">30 days free trial</a></div>
                                </div>
                            </div>
                            <!-- plan -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-bg section-gray section-large mb0">
        <div class="container">
            <div class="row mt10">
                <div class="col-sm-6">
                    <h3 class="title-small title-small-a br-bottom">Do you have a discounted annual plan?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quasi, laborum, dicta, vitae sed reiciendis quis ex ipsam omnis laudantium eveniet error architecto quod.</p>
                    <div class="mb50"></div>
                    <h3 class="title-small title-small-a br-bottom">Can one account support this?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quasi, laborum, dicta, vitae sed reiciendis quis ex ipsam omnis laudantium eveniet error architecto quod.</p>
                    <div class="mb50"></div>
                    <h3 class="title-small title-small-a br-bottom">Seriously, no credit card required?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quasi, laborum, dicta, vitae sed reiciendis quis ex ipsam omnis laudantium eveniet error architecto quod.</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="title-small title-small-a br-bottom">How does the trial work?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quasi, laborum, dicta, vitae sed reiciendis quis ex ipsam omnis laudantium eveniet error architecto quod.</p>
                    <div class="mb50"></div>
                    <h3 class="title-small title-small-a br-bottom">What's included with the Standard plan?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quasi, laborum, dicta, vitae sed reiciendis quis ex ipsam omnis laudantium eveniet error architecto quod.</p>
                    <div class="mb50"></div>
                    <h3 class="title-small title-small-a br-bottom">If I want to upgrade... </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, quasi, laborum, dicta, vitae sed reiciendis quis ex ipsam omnis laudantium eveniet error architecto quod.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row col-p0 max_height sm_max_height">
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e dark el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-medium title-shadow-a">Want more? <a href="#" class="link-read-more">see plans</a></h3>
                            <div class="row col-p0">
                                <div class="col-sm-10">
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad quae odit sint voluptatum assumenda natus quaerat, laudantium quo voluptate.</p>
                                </div>
                            </div>
                            <span class="fa icon_lightbulb_alt"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e green el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-medium title-shadow-a">What to choose? <a href="#" class="link-read-more">contact us</a></h3>
                            <div class="row col-p0">
                                <div class="col-sm-10">
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad quae odit sint voluptatum assumenda natus quaerat, laudantium quo voluptate.</p>
                                </div>
                            </div>
                            <span class="fa icon_question"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e orange el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-medium title-shadow-a">Coupons <a href="#" class="link-read-more">see details</a></h3>
                            <div class="row col-p0">
                                <div class="col-sm-10">
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero ad quae odit sint voluptatum assumenda natus quaerat, laudantium quo voluptate.</p>
                                </div>
                            </div>
                            <span class="fa icon_gift_alt"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'front/footers/footer.html.twig' %}
{% endblock %}