{% extends "base.html.twig" %}
{% block body %}
    {% include 'front/headers/header.html.twig' %}

    <div class="push-top"></div>
    <section class="section-intro intro-small bg-img bg10 stellar" data-stellar-background-ratio="0.4">
        <div class="bg-overlay op6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8">
                    <h1 class="intro-title mb20">Product</h1>
                    <p class="intro-p mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur reiciendis molestias nostrum excepturi porro!</p>
                    <div id="shareit" class="sharrre" data-url="http://abusinesstheme.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="Share"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-breadcrumbs-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <div class="page-breadcrumbs">
                            <a href="#">home</a> <span class="separator"> / </span> <a href="#">shop</a> <span class="separator"> / </span> <a href="#" class="active">product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="shop-section section-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-9 col-md-push-3 col-sm-push-4 space-left push-off ">
                    <div class="row mb30">
                        <div class="col-sm-12 col-md-5">
                            <div id="owl-shop" class="owl-carousel mb30">
                                <div class="owl-item-shop zoom">
                                    <img src="images/demo/shop01.jpg" alt="product">
                                </div>
                                <div class="owl-item-shop zoom">
                                    <img src="images/demo/shop02.jpg" alt="product">
                                </div>
                                <div class="owl-item-shop zoom">
                                    <img src="images/demo/shop03.jpg" alt="product">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 sm-box">
                            <div class="shop-description-product">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h3 class="shop-product-name br-bottom">Print Sweatshirt <span>cotton</span></h3>
                                    </div>
                                </div>
                                <div class="row mb10">
                                    <div class="col-sm-12">
                                        <div class="clearfix">
                                            <span class="rating-system rate-product"></span> <small>125 Reviews</small> &nbsp;
                                            <small><a href="#" class="see-reviews" data-toggle="modal" data-target="#modal-reviews">see reviews</a></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="shop-price-wrapper">
                                    <del class="shop-price-off">$159</del> <ins class="shop-price">$129</ins>
                                </div>
                                <p class="hidden-md mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus explicabo illum quaerat fuga, recusandae delectus tempora voluptate assumenda temporibus incidunt neque quidem asperiores non officiis necess.</p>
                                <div>
                                    <a href="shop_cart.html" class="btn btn-d btn-icon br2 mr20 xs-mb10"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                    <a href="#" class="btn btn-d btn-icon br2"><i class="fa fa-star"></i> Add to Wishlist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row mb20">
                                <div class="col-sm-12">
                                    <h3 class="title-small title-small-a">Modern design and beautiful colors</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, eius, assumenda, consequuntur reprehenderit laudantium dolore architecto est eveniet voluptatibus magni ea esse dolor rerum commodi ducimus atque maxime. Enim, sapiente tenetur quidem asperiores non officiis necessitatibus quaerat amet. Ratione aliquid magnam ipsa architecto ea eius sapiente libero soluta ex incidunt.</p>
                                </div>
                            </div>
                            <div class="row mb50">
                                <div class="col-sm-12 col-md-6 xs-box">
                                    <ul class="shop-specifications">
                                        <li class="title">General</li>
                                        <li>Product type <span>T-Shirts</span></li>
                                        <li>Material <span>100% cotton</span></li>
                                        <li>Weight <span>180 grams</span></li>
                                        <li>Collar <span>O-Neck</span></li>
                                        <li class="title">Type</li>
                                        <li>Feature <span>Anti Shrink, Breathable</span></li>
                                        <li>Model Number <span>RW1-2-R198</span></li>
                                        <li>Age Group <span>Adults</span></li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <ul class="shop-specifications">
                                        <li class="title">Data</li>
                                        <li>Available Sizes <span>XS,S,M,L,XL,XXL</span></li>
                                        <li>Design <span>With Pattern</span></li>
                                        <li>Place of Origin <span>United States</span></li>
                                        <li>Gender <span>Men</span></li>
                                        <li class="title">Design</li>
                                        <li>Color <span>Red, Black, White, Blue, Green</span></li>
                                        <li>Pattern <span>Printed, embroidery, sublimation</span></li>
                                        <li>Neck <span>Round neck / V neck</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mb20">
                                <div class="col-sm-12">
                                    <h3 class="title-small title-small-a">Modern T-Shirts</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, eius, assumenda, consequuntur reprehenderit laudantium dolore architecto est eveniet voluptatibus magni ea esse dolor rerum commodi ducimus atque maxime. Enim, sapiente tenetur quidem asperiores non officiis necessitatibus quaerat amet. Ratione aliquid magnam ipsa architecto ea eius sapiente libero soluta ex incidunt.</p>
                                </div>
                            </div>
                            <div class="row mb50">
                                <div class="col-sm-7">
                                    <div class="clearfix">
                                        <ul class="unstyled-list">
                                            <li><i class="fa fa-check mr10"></i> 100% cotton</li>
                                            <li><i class="fa fa-check mr10"></i> For Men</li>
                                            <li><i class="fa fa-check mr10"></i> Multiple Colors</li>
                                            <li><i class="fa fa-check mr10"></i> Modern</li>
                                            <li><i class="fa fa-check mr10"></i> Printed patterns</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-md-pull-9 col-sm-pull-8 pull-off ">
                    <aside class="sidebar shop-sidebar">
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title br-bottom">How to buy?</h3>
                            <p>Lorem ipsum dolor sit amet, consect adipisicing elit. Impedit, recusandae corrupti voluptas atque voluptatibus digniss.</p>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">On Sale Products</h3>
                            <div class="clearfix">
                                <ul class="top-rated-products unstyled-list">
                                    <li>
                                        <div class="product-image">
                                            <img src="images/demo/shop01.jpg" alt="product">
                                        </div>
                                        <div class="product-info">
                                            <h5><a href="shop_product.html">Print Sweatshirt</a></h5>
                                            <div>
                                                <del class="shop-price-off">$349</del> <ins class="shop-price">$299</ins>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Related Products</h3>
                            <div class="clearfix">
                                <ul class="top-rated-products unstyled-list">
                                    <li>
                                        <div class="product-image">
                                            <img src="images/demo/shop21.jpg" alt="product">
                                        </div>
                                        <div class="product-info">
                                            <h5><a href="shop_product.html">Striped T-shirt</a></h5>
                                            <div>
                                                <del class="shop-price-off">$349</del> <ins class="shop-price">$299</ins>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="sidebar-title">Useful links</h3>
                            <div class="clearfix">
                                <ul class="sidebar-categories">
                                    <li><a href="#">Wishlist</a></li>
                                    <li><a href="#">Shopping Cart</a></li>
                                    <li><a href="#">Showroom</a></li>
                                    <li><a href="#">ProfitShare</a></li>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row col-p0 max_height sm_max_height">
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e orange el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-medium title-shadow-a">Sales <a href="#" class="link-read-more">read more</a></h3>
                            <div class="row col-p0">
                                <div class="col-sm-12 col-md-9">
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ratione porro odit, impedit perspiciatis maiores incidunt.</p>
                                </div>
                            </div>
                            <span class="fa montserrat">30</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e dark el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-medium title-shadow-a">Up To 30% <a href="#" class="link-read-more">read more</a></h3>
                            <div class="row col-p0">
                                <div class="col-sm-12 col-md-9">
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ratione porro odit, impedit perspiciatis maiores incidunt.</p>
                                </div>
                            </div>
                            <span class="fa montserrat">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box-services-d box-services-e green el_max_height">
                    <div class="bg-overlay"></div>
                    <div class="row col-p0">
                        <div class="col-sm-12">
                            <h3 class="title-medium title-shadow-a">on Tuesday <a href="#" class="link-read-more">read more</a></h3>
                            <div class="row col-p0">
                                <div class="col-sm-12 col-md-9">
                                    <p class="mb0 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi ratione porro odit, impedit perspiciatis maiores incidunt.</p>
                                </div>
                            </div>
                            <span class="fa montserrat">Off</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="modal-reviews" tabindex="-1" role="modal" aria-labelledby="modal-label-reviews" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modal-label-reviews">Reviews</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="shop-reviews">
                                <div class="shop-comment">
                                    <div class="author">
                                        <cite><a href="#">John Doe</a></cite>
                                        <span class="date">15th March 2015</span>
                                        <span class="rating-system rate-review"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nemo, animi, nulla quidem placeat vero eos dolor et illo distinctio vel ipsam similique aliquid iste pariatur in debitis repellendus sequi? Quaerat, ullam ab excepturi ut illo eius saepe placeat neque ipsam.</p>
                                </div>
                                <div class="shop-comment">
                                    <div class="author">
                                        <cite><a href="#">John Doe</a></cite>
                                        <span class="date">15th March 2015</span>
                                        <span class="rating-system rate-review"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nemo, animi, nulla quidem placeat vero eos dolor et illo distinctio vel ipsam similique aliquid iste pariatur in debitis repellendus sequi? Quaerat, ullam ab excepturi ut illo eius saepe placeat neque ipsam.</p>
                                </div>
                                <div class="shop-comment">
                                    <div class="author">
                                        <cite><a href="#">John Doe</a></cite>
                                        <span class="date">15th March 2015</span>
                                        <span class="rating-system rate-review"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nemo, animi, nulla quidem placeat vero eos dolor et illo distinctio vel ipsam similique aliquid iste pariatur in debitis repellendus sequi? Quaerat, ullam ab excepturi ut illo eius saepe placeat neque ipsam.</p>
                                </div>
                                <div class="shop-comment">
                                    <div class="author">
                                        <cite><a href="#">John Doe</a></cite>
                                        <span class="date">15th March 2015</span>
                                        <span class="rating-system rate-review"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nemo, animi, nulla quidem placeat vero eos dolor et illo distinctio vel ipsam similique aliquid iste pariatur in debitis repellendus sequi? Quaerat, ullam ab excepturi ut illo eius saepe placeat neque ipsam.</p>
                                </div>
                                <div class="shop-comment">
                                    <div class="author">
                                        <cite><a href="#">John Doe</a></cite>
                                        <span class="date">15th March 2015</span>
                                        <span class="rating-system rate-review"></span>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nemo, animi, nulla quidem placeat vero eos dolor et illo distinctio vel ipsam similique aliquid iste pariatur in debitis repellendus sequi? Quaerat, ullam ab excepturi ut illo eius saepe placeat neque ipsam.</p>
                                </div>
                            </div>
                            <div class="mt40"><a href="#" class="btn btn-b">See more reviews</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'front/footers/footer.html.twig' %}

{% endblock %}