{% extends "base.html.twig" %}
{% block body %}
    {% include 'front/headers/header.html.twig' %}
<div class="push-top"></div>
<section class="section-intro bg-img bg06 stellar" data-stellar-background-ratio="0.4">
    <div class="bg-overlay op6"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8">
                <h1 class="intro-title mb20">Shop Cart</h1>
                <p class="intro-p mb0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tenetur reiciendis molestias nostrum excepturi porro dolorum amet!</p>
            </div>
        </div>
    </div>
</section>
<div class="page-breadcrumbs-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div class="page-breadcrumbs">
                        <a href="#">home</a> <span class="separator"> / </span> <a href="#">shop</a> <span class="separator"> / </span> <a href="#" class="active">cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-page shop-cart mb20">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive mb30">
                    <table id="shop-cart-table" class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th class="span100">Qunatity</th>
                            <th class="span100">Price</th>
                            <th class="span100">Total</th>
                            <th class="span40"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td class="product">
                                <img src="images/demo/shop01.jpg" alt="product">
                                <a href="#">Print Sweatshirt</a>
                            </td>
                            <td class="qunatity">1</td>
                            <td>250$</td>
                            <td>250$</td>
                            <td>
                                <a href="#" data-toggle="tooltip" title="Remove product" class="remove-product"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="product">
                                <img src="images/demo/shop02.jpg" alt="product">
                                <a href="#">Waistcoat Sweatshirt</a>
                            </td>
                            <td class="qunatity">1</td>
                            <td>270$</td>
                            <td>270$</td>
                            <td>
                                <a href="#" data-toggle="tooltip" title="Remove product" class="remove-product"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="product">
                                <img src="images/demo/shop03.jpg" alt="product">
                                <a href="#">Print T-shirt</a>
                            </td>
                            <td class="qunatity">1</td>
                            <td>270$</td>
                            <td>270$</td>
                            <td>
                                <a href="#" data-toggle="tooltip" title="Remove product" class="remove-product"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="product">
                                <img src="images/demo/shop04.jpg" alt="product">
                                <a href="#">neck sweatshirt</a>
                            </td>
                            <td class="qunatity">2</td>
                            <td>270$</td>
                            <td>540$</td>
                            <td>
                                <a href="#" data-toggle="tooltip" title="Remove product" class="remove-product"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="4">Total</th>
                            <th colspan="2">1245$</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <a href="shop_grid_sidebar.html" class="btn btn-d">Continue Shopping</a>
                    <span class="mr10"></span>
                    <a href="shop_checkout.html" class="btn btn-d">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'front/footers/footer.html.twig' %}

{% endblock %}