{% extends "@User/layout.html.twig" %}

{% block fos_user_content %}
    <div class="card-body">
    <h4 class="header-title">Modifier</h4>
    <p class="text-muted font-14">
        tous les champs sont obligatoires.
    </p>
        {{ parent() }}

        {% include "@User/Profile/edit_content.html.twig" %}
</div>
{% endblock fos_user_content %}
